<nav class="navbar navbar-expand-lg navbar-light bg-white z-index-3 py-0">
  <div class="container">
    <a
      class="navbar-brand"
      href="/index.html"
      rel="tooltip"
      title="Designed and Coded by Creative Tim"
      data-placement="bottom"
    >
      <img
        src="{{ config.ASSETS_ROOT }}/img/logos/laborup_logo.png"
        style="max-height: 4rem"
        alt="laborup"
      />
    </a>
    <button
      class="navbar-toggler shadow-none ms-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navigation"
      aria-controls="navigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div
      class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0"
      id="navigation"
    >
      <ul class="navbar-nav navbar-nav-hover mx-auto d-lg-none">
        <li class="nav-item mx-2">
          <a
            href="/skilled-workers.html"
            class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
            role="button"
          >
            Skilled Workers
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            href="/employers.html"
            class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
            role="button"
          >
            Employers
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            href="/about-us.html"
            class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
            role="button"
          >
            About Us
          </a>
        </li>
      </ul>

      <nav
        class="ms-auto navbar navbar-expand-lg navbar-transparent shadow-none"
      >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              href="/skilled-workers.html"
              class="btn btn-sm bg-gradient-primary btn-round mb-0 me-1"
              role="button"
              >Skilled Workers</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/employers.html"
              class="btn btn-sm bg-gradient-primary btn-round mb-0 me-1"
              role="button"
              >Employers</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/about-us.html"
              class="btn btn-sm bg-regular mb-0 me-1 shadow-none"
              role="button"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
