{% extends 'layouts/base-landing.html' %} {% block title %} Home {% endblock
title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<header class="bg-gradient-dark">
  <div
    class="page-header min-vh-75"
    style="background-image: url('{{ config.ASSETS_ROOT }}/img/banners/aboutus_banner.jpeg');"
  >
    <span class="mask bg-gradient-info opacity-4"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white">
            Empowering the Backbone of America <span class="text-white" id="typed"></span>
          </h1>
          <p class="lead mb-4 text-white opacity-8">
            The Laborup Journey
          </p>
        </div>
      </div>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg
        class="waves"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 40"
        preserveAspectRatio="none"
        shape-rendering="auto"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
          />
        </defs>
        <g class="moving-waves">
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="-1"
            fill="rgba(255,255,255,0.40"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(255,255,255,0.35)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(255,255,255,0.25)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="8"
            fill="rgba(255,255,255,0.20)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="13"
            fill="rgba(255,255,255,0.15)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="16"
            fill="rgba(255,255,255,1"
          />
        </g>
      </svg>
    </div>
  </div>
</header>
<!-- -------- END HEADER 7 w/ text and video ------- -->
<!-- START Blogs w/ 3 images & quote & text -->
<section class="py-5">
  <div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <!-- First image on the right side, above the article -->
            <h4 class="mb-4">As co-founders of Laborup, our story is deeply rooted in our personal experiences, our unwavering commitment to the industrial sector, and a humble upbringing that began in Tennessee.</h4>
            <p>Our journey began navigating the challenges of finding jobs in sectors vital to our great nation, sectors like manufacturing, logistics, and construction. We, as pioneers of Laborup, were no strangers to the factory floors, where dedicated machinists, mechanics, and countless others toiled tirelessly. Witnessing their unwavering commitment, we were inspired to make a difference.</p>
            <p>We recognized the significance of these jobs, the backbone of our nation's strength, and an essential part of our economic future. With a resounding push to reshore American manufacturing, the call to action became even more pressing.</p>
            <p>Laborup is more than just a company—it's a calling. We're not merely connecting people with jobs; <strong>we're transforming the very process, championing the cause of both workers and the industries they serve.</strong></p>
            <p><br>Our story aligns perfectly with the monumental shift of our times—a shift where America reclaims its self-reliance, departing from dependency on distant shores. Industries like batteries, chips, specialty parts, automotive, defense, and agriculture are poised to shape the future.</p>
            <p><br>Join us as we empower workers, fortify industries, and shape the future of employment in the dynamic landscape of American manufacturing, together.</p>
          </div>
    </div>
</div>
</section>
<!-- END Blogs w/ 3 images & quote & text -->
{% endblock content %} {% block javascripts %} {% endblock javascripts %}
