{% extends 'layouts/main.html' %} {% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block subcontent %}
<div class="col-12">
  <div class="card my-3">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex flex-column h-100">
            <h5 class="font-weight-bolder">Skills</h5>
            <p>Let us know what you're good at</p>
            <a
              class="text-primary text-md font-weight-bold icon-move-right mt-auto"
              href="/add-skills.html"
            >
              <i class="fas fa-plus text-sm mx-3" aria-hidden="true"></i>
              Add skills
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex flex-column h-100">
            <h5 class="font-weight-bolder">Licenses and Certifications</h5>
            <p>Your accreditations are in high demand. Tell us.</p>
            <a
              class="text-primary text-md font-weight-bold icon-move-right mt-auto"
              href="javascript:;"
            >
              <i class="fas fa-plus text-sm mx-3" aria-hidden="true"></i>
              Add licenses and certifications
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex flex-column h-100">
            <h5 class="font-weight-bolder">Experience</h5>
            <p>Let us know what you're good at</p>
            <a
              class="text-primary text-md font-weight-bold icon-move-right mt-auto"
              href="javascript:;"
            >
              <i class="fas fa-plus text-sm mx-3" aria-hidden="true"></i>
              Add experience
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex flex-column h-100">
            <h5 class="font-weight-bolder">Education</h5>
            <p>List any diplomas, degrees, or certifications you have</p>
            <a
              class="text-primary text-md font-weight-bold icon-move-right mt-auto"
              href="javascript:;"
            >
              <i class="fas fa-plus text-sm mx-3" aria-hidden="true"></i>
              Add education
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock subcontent %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
