{% extends 'layouts/base-landing.html' %} {% block title %} Home {% endblock
title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<!-- -------- START HEADER 5 w/ text and illustration ------- -->
<header>
  <div class="page-header min-vh-75">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 my-auto">
          <h1 class="text-gradient text-info mb-0 text-center text-sm-start">
            Find your next high paying job in
          </h1>
          <h1 class="mb-4 text-center text-sm-start">
            <a
              href=""
              class="typewrite "
              data-period="2000"
              data-type='[ "Manufacturing", "Automotive", "Logistics", "Warehousing", "Construction" ]'
            >
              <span class="wrap"></span>
            </a>
          </h1>
          <p class="lead text-center text-sm-start">Use AI to get a resume, job matches, career advice</p>
            <div class="buttons text-center text-sm-start">
              <a href="https://airtable.com/appF8iniLjyjrpRcM/shrVOxCtgDaUHulVV" role="button">
                <button type="button" class="btn btn-lg bg-gradient-info mt-4">
                  Join Our Waitlist
                </button></a
              >
            </div>
          </div>
        <div class="col-lg-8 ps-5 pe-0 ">
          <div class="row">
            <div class="col-lg-3 col-6">
              <img
                class="w-100 border-radius-lg shadow mt-0 mt-lg-7"
                src="{{ config.ASSETS_ROOT }}/img/skilled-workers/workers1.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-3 col-6">
              <img
                class="w-100 border-radius-lg shadow"
                src="{{ config.ASSETS_ROOT }}/img/skilled-workers/workers2.jpg"
                alt=""
              />
              <img
                class="w-100 border-radius-lg shadow mt-4"
                src="{{ config.ASSETS_ROOT }}/img/skilled-workers/workers3.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-3 col-6">
              <img
                class="w-100 border-radius-lg shadow mt-0 mt-lg-5"
                src="{{ config.ASSETS_ROOT }}/img/skilled-workers/workers4.jpg"
                alt=""
              />
              <img
                class="w-100 border-radius-lg shadow mt-4"
                src="{{ config.ASSETS_ROOT }}/img/skilled-workers/workers5.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-3 col-6">
              <img
                class="w-100 border-radius-lg shadow mt-3"
                src="{{ config.ASSETS_ROOT }}/img/skilled-workers/workers6.jpg"
                alt=""
              />
              <img
                class="w-100 border-radius-lg shadow mt-4"
                src="{{ config.ASSETS_ROOT }}/img/skilled-workers/workers7.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- -------   START PRE-FOOTER 6 - title & description and input    -------- -->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center">
        <h6 class="opacity-5"></h6>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-3 col-md-2 mb-4">
        <img
          class="w-75 opacity-9"
          src="{{ config.ASSETS_ROOT }}/img/companies/boeing_logo.png"
          alt="logo"
        />
      </div>
      <div class="col-3 col-md-2 mb-4">
        <img
          class="w-50 opacity-9"
          src="{{ config.ASSETS_ROOT }}/img/companies/honda_logo.png"
          alt="logo"
        />
      </div>
      <div class="col-3 col-md-2 mb-4">
        <img
          class="w-50 opacity-9"
          src="{{ config.ASSETS_ROOT }}/img/companies/nissan_logo.png"
          alt="logo"
        />
      </div>
      <div class="col-3 col-md-2 mb-4">
        <img
          class="w-50 opacity-9"
          src="{{ config.ASSETS_ROOT }}/img/companies/tesla_logo.png"
          alt="logo"
        />
      </div>
      <div class="col-3 col-md-2 mb-4">
        <img
          class="w-50 opacity-9"
          src="{{ config.ASSETS_ROOT }}/img/companies/ford_logo.png"
          alt="logo"
        />
      </div>
      <div class="col-3 col-md-2 mb-4">
        <img
          class="w-100 opacity-9"
          src="{{ config.ASSETS_ROOT }}/img/companies/toyota_logo.png"
          alt="logo"
        />
      </div>
      </div>
    </div>
  </div>
</div>
<!-- -------   END PRE-FOOTER 6 - title & description and input    -------- -->
<!-- -------- END HEADER 5 w/ text and illustration ------- -->
<!-- -------- END Features w/ pattern background & stats & rocket -------- -->
{% endblock content %} {% block javascripts %}
<script>
  //made by vipul mirajkar thevipulm.appspot.com
  var TxtType = function (el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = "";
    this.tick();
    this.isDeleting = false;
  };

  TxtType.prototype.tick = function () {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">' + this.txt + "</span>";

    var that = this;
    var delta = 200 - Math.random() * 100;

    if (this.isDeleting) {
      delta /= 2;
    }

    if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
    } else if (this.isDeleting && this.txt === "") {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
    }

    setTimeout(function () {
      that.tick();
    }, delta);
  };

  window.onload = function () {
    var elements = document.getElementsByClassName("typewrite");
    for (var i = 0; i < elements.length; i++) {
      var toRotate = elements[i].getAttribute("data-type");
      var period = elements[i].getAttribute("data-period");
      if (toRotate) {
        new TxtType(elements[i], JSON.parse(toRotate), period);
      }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
    document.body.appendChild(css);
  };
</script>
{% endblock javascripts %}
